body{
    min-width: 1200px;
}
.bodyMask {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: none;
    background: rgba(0, 0, 0, .3);
}
#header.mini {
    padding-top: 0px;
    background-color: rgba(51, 51, 51, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}
#header.mini {
    background-color: rgba(0, 0, 0, .51);
    padding-top: 10px;
}

#header {
    width: 100%;
    height: auto;
    position: fixed;
    /*padding-top: 20px;*/
    font-size: 14px;
    transition: all ease .3s;
    z-index: 99;
    transition-property: padding, background;
}

#header .content {
    padding-left: 0px;
    padding-right: 0px;
}
#header .content {
    padding: 0 40px;
}
#header.mini #logo {
    padding: 10px 20px 10px 20px;
}
#header #logo {
    padding: 20px 0 20px 40px;
    transition: all 0.3s ease-out 0s;
    margin-right: 20px;
}
#header #logo {
    width: auto;
    height: 40px;
    display: block;
    float: left;
    margin-right: 50px;
}

#header.mini ul li.navitem {
    padding: 10px 0.5px;
}
#header.mini ul li.navitem {
    padding-bottom: 0;
}
#header ul li.navitem {
    padding: 20px 0.5px;
    height: auto;
}
#header ul li a{
    color:#CCCCCC;
}
#header ul li.navitem {
    width: auto;
    height: 50px;
    line-height: 35px;
    float: left;
    position: relative;
    margin-right: 60px;
}
#header ul li a:hover{
    color: #ff6600;
}

#header ul li.navitem ul.subnav {
    box-shadow: 0px 12px 36px rgba(0, 0, 0, 0.16);
}
#header ul li.navitem ul.subnav {
    position: absolute;
    width: 250px;
    background: #2c323b;
    display: none;
    opacity: 0.9;
}
#header ul li.navitem ul.subnav li{
    color: black;
    border-bottom:1px solid #7B7B7B ;
    padding: 10px 30px;
    overflow: hidden;
}
#header ul li.navitem.gy:hover .subnav {
    display: block;
    color: white;
}
#header.mini ul#nav {
    padding: 0px 0px 0px 20px;
}
#header ul#nav {
    float: right;
    padding: 0px 0px;
    transition: all 0.3s ease-out 0s;
}
#header ul#nav{
    color: #CCCCCC;
}
.clear {
    clear: both;
}
#headSHBtn {
    display: none;
    width: 40px;
    height: 40px;
    background: #000;
    line-height: 40px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    right: -40px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    transform: translate(0, 0);
}
.fa-angle-down{
    margin-left: 8px;
}

/*======header  e=========*/
.banner img{
    width: 100%;
}

/*===========================*/
.wrap{
    width: 100%;
    height: 100%;
    background: #303030;
    background-size: cover;

}
.wrap-inner{
    height: auto;
    width: 100%;
    margin: 0 auto;
}
.wrap .top{
    padding-top: 50px;
    width: 100%;
    display: inline-block;
}
.wrap .top p.title{
    text-align: center;
    color: #fff;
    font-family: "HELVETICANEUELTPRO-THEX", "微软雅黑";
    font-size: 25px;
}
.wrap .top p.subtitle{
    text-align: center;
    width: 47%;
    margin: 0 auto;
    color: #828282;
    font-size: 15px;
    line-height: 20px;
}

/*========================camera e=================*/
.xinxi{
    width: 80%;
    height: 1000px;
    overflow: hidden;
    margin: auto;
}
.xinxi .duan{
    margin-top: 50px;
    height: 100px;
    font-size: 13px;
    color: #6a6a6a;
    line-height: 24px;
}
.kuang{
    width: 60%;
    margin: auto;
    margin-top: 40px;
}
.ui.form {
    position: relative;
    max-width: 80%;
    font-size: 16px;
    margin: auto;
    color:#8a8a8a ;
}

input, textarea {
    outline: 0;
    font-size: 14px;
}
.ui.form .field {
    margin: 0;
    /*clear: both;*/
}
.formPage .formbox {
    padding: 20px 0;
    border: 0;
    width: 100%;
    line-height: 38px;
    margin-top: 30px;
}
.clearfix {
    zoom: 1;
}
.icon-interval {
    color: red;
}
.form_input {
    width: 50%;
    margin-left: 20px;
    margin-top: -5px;
}
.fl {
    float: left;
}
.ui.form input[type=text] {
    width: 500px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: .6em 1em;
    font-size: 1em;
    background: #505050;
    outline: 1px solid #5c595c;
    color: #9f9f9f;
    /*border-radius: 5px;*/
    transition: color .1s ease,border-color .1s ease;
}
#verification{
    width: 150px;
    height: 25px;
    line-height: 25px;
}
.clearfix:after {
    clear: both;
    display: block;
    content: '';
}
.ui.form .inline.fields {
    margin: 0 .5em 1em;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;

}
.ui.form .inline.fields .field {
    margin: 0;
    padding: 0 1em 0 0;
    flex: 0 1 auto;
}
.ui.radio.checkbox {
    min-height: 20px;
    line-height: 20px;
    font-style: normal;
    float: left;
    margin-left: 18px;
}
.ui.checkbox input[type=radio] {
    cursor: pointer;

}
.clearfix select label.fl{
    padding-left: 10px;
}
.formbox {
    margin-top: 20px;
}
.clearfix select{
    width: 200px;
    height: 40px;
    margin-left: 30px;
    font-size: 16px;
    line-height: 30px;
    color: #9f9f9f;
    background: #303030;
    border: 1px solid #5c595c;
}
.list-item  .fields .clearfix select{
    line-height: 30px;
}
.kuang div{
    padding: 5px 0;
}
.fl image{
    float: left;
}
.ui .submit button{
    width: 220px;
    height: 45px ;
    text-align: center;
    line-height: 45px;
    color:#9f9f9f;
    margin: auto;
}
input:focus {
    outline:none;
    border: 1px solid orange;

}

/*========================xinxi e ===============*/

.foot{
    /*background: #444444;*/
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 2;
    line-height: 50px;
    border-top: 1px solid #5c595c;
    overflow: hidden;
}
.foot p{
    padding-left: 20px;
    font-size: 15px;
    color: #8e8e8e;
}

