body{
    min-width: 1200px;
}
.bodyMask {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: none;
    background: rgba(0, 0, 0, .3);
}
#header.mini {
    padding-top: 0px;
    background-color: rgba(51, 51, 51, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}
#header.mini {
    background-color: rgba(0, 0, 0, .51);
    padding-top: 10px;
}

#header {
    width: 100%;
    height: auto;
    position: fixed;
    /*padding-top: 20px;*/
    font-size: 14px;
    transition: all ease .3s;
    z-index: 99;
    transition-property: padding, background;
}

#header .content {
    padding-left: 0px;
    padding-right: 0px;
}
#header .content {
    padding: 0 40px;
}
#header.mini #logo {
    padding: 10px 20px 10px 20px;
}
#header #logo {
    padding: 20px 0 20px 40px;
    transition: all 0.3s ease-out 0s;
    margin-right: 20px;
}
#header #logo {
    width: auto;
    height: 40px;
    display: block;
    float: left;
    margin-right: 50px;
}

#header.mini ul li.navitem {
    padding: 10px 0.5px;
}
#header.mini ul li.navitem {
    padding-bottom: 0;
}
#header ul li.navitem {
    padding: 20px 0.5px;
    height: auto;
}
#header ul li a{
    color:#CCCCCC;
}
#header ul li.navitem {
    width: auto;
    height: 50px;
    line-height: 35px;
    float: left;
    position: relative;
    margin-right: 60px;
}
#header ul li a:hover{
    color: #ff6600;
}

#header ul li.navitem ul.subnav {
    box-shadow: 0px 12px 36px rgba(0, 0, 0, 0.16);
}
#header ul li.navitem ul.subnav {
    position: absolute;
    width: 250px;
    background: #2c323b;
    display: none;
    opacity: 0.9;
}
#header ul li.navitem ul.subnav li{
    color: black;
    border-bottom:1px solid #7B7B7B ;
    padding: 10px 30px;
    overflow: hidden;
}
#header ul li.navitem.gy:hover .subnav {
    display: block;
    color: white;
}
#header.mini ul#nav {
    padding: 0px 0px 0px 20px;
}
#header ul#nav {
    float: right;
    padding: 0px 0px;
    transition: all 0.3s ease-out 0s;
}
#header ul#nav{
    color: #CCCCCC;
}
.clear {
    clear: both;
}
#headSHBtn {
    display: none;
    width: 40px;
    height: 40px;
    background: #000;
    line-height: 40px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    right: -40px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    transform: translate(0, 0);
}
.fa-angle-down{
    margin-left: 8px;
}
/*======header  e=========*/
.banner img{
    width: 100%;
}

/*===========================*/
.wrap{
    width: 100%;
    height: 100%;
    background: #303030;
    background-size: cover;

}
.wrap-inner{
    height: auto;
    width: 100%;
    margin: 0 auto;
}
.wrap .top{
    padding-top: 50px;
    width: 100%;
    display: inline-block;
}
.wrap .top p.title{
    text-align: center;
    color: #fff;
    font-family: "HELVETICANEUELTPRO-THEX", "微软雅黑";
    font-size: 25px;
}
.wrap .top p.subtitle{
    text-align: center;
    width: 47%;
    margin: 0 auto;
    color: #828282;
    font-size: 15px;
    line-height: 20px;
}

/*========================camera e=================*/
.xinxi{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-bottom: 1px solid #7B7B7B;
}
.xinxi ul{

}
.xinxi ul li{
    width: 1200px;
    height:250px;
    margin: auto;
    background: #4c4c4c;
    list-style: none;
    position: relative;
    visibility: visible;
    animation-delay: 0s;
    overflow: hidden;
    margin-top: 30px;
}
.xinxi .left{
    position: relative;
    float: left;
    border-radius: 0;
    width:450px;
    height: auto;
    overflow: inherit;
}
.zhe{
    /*width: 450px;*/
    height: 250px;
    position: absolute;
    left: 0;
    /*transition-property: width;*/
    background: rgba(0,0,0,.5);
    transition: all 2s;
}
.xinxi .left:hover .zhe{
    width: 450px;
}
.xinxi .left:hover img{
    transform: scale(1.1);
}
.xinxi .right{
    float: left;
    width: 50%;
    height: 120px;
    margin-top:50px;
    transition: all 0.3s ease 0s;
    margin-left: 8%;
    border-bottom: 1px solid #4c4c4c;


}
.xinxi .right p{
    animation:bounceInDown 2s ease 1 ;
}
.xia{
    margin-top: 30px;
    width: 600px;
    border-top: 1px solid #5c595c;
    display: none;
}
pre{
    color: #9f9f9f;
    padding-top: 20px;
}
.xinxi .right .bt{
    color: #fff;
    font-size: 24px;
}
.xinxi .right .subtitle {
    color: #6b6b6b;
}
.xinxi .right .description {
    width: 100%;
    font-size: 13px;
    color: #bebebe;
    height: auto;
    line-height: 24px;
    margin-left: 0;
    margin-top: 20px;
}
.xinxi li:hover .right {
    margin-top: 40px;
}
.xinxi li:hover .bt{
    color: #fe7600;
}
.xinxi li:hover .xia{
    display: block;
}
.more{
    position: relative;
    left: 50%;
    top: 30%;
    width: 20%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.more a{
    width: 40px;
    height: 40px;
    background:#fe7600 ;
    color: white;
    text-align: center;
    line-height: 40px;
}
/*========================xinxi e ===============*/

.foot{
    background: #444444;
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 2;
    line-height: 50px;
    border-top: 1px solid #303030;
    overflow: hidden;
}
.foot p{
    padding-left: 20px;
    font-size: 15px;
    color: #8e8e8e;
}

